{% extends "emails/base_email.html" %}

{% block content %}
<tr>
    <td class="content-block">
        <h1>Reset Your Password</h1>
    </td>
</tr>
<tr>
    <td class="content-block">
        Hi {{ user.first_name|default:"there" }},
    </td>
</tr>
<tr>
    <td class="content-block">
        You recently requested to reset your password for your {{ app_name }} account. Click the button below to reset it:
    </td>
</tr>
<tr>
    <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
        <a href="{{ reset_url }}" class="btn-primary" itemprop="url">Reset Password</a>
    </td>
</tr>
<tr>
    <td class="content-block">
        {% if is_mobile %}
        This link will open directly in your mobile app.
        {% else %}
        If you're on a mobile device, you can also open this link in our app.
        {% endif %}
    </td>
</tr>
<tr>
    <td class="content-block">
        If the button doesn't work, copy and paste this link into your browser:
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="{{ reset_url }}">{{ reset_url }}</a>
    </td>
</tr>
<tr>
    <td class="content-block">
        If you didn't request a password reset, please ignore this email or contact support if you have concerns.
    </td>
</tr>
{% endblock %}